.conversationList {
  background: #ececec;
  overflow: hidden;

  &.new-message {
    background: #ffffff;
    z-index: 2;
    font-weight: bold;
  }

  &:hover {
    background: #83beff;
  }

  &.selected {
    background: #faffaa;
    z-index: 2;
  }

  .marker {
    float: left;
    padding-top: 10px;
  }

  .message {
    display: block;

    text-decoration: none;
    margin: -10px -15px -10px 30px;
    padding: 10px 15px 10px 0;

    .meta {
      float: right;
      text-align: right;
      margin-left: 3px;

      .icon {
        .glyphicon {
          font-size: 1.5em;
        }
        .glyphicon-star {
          color: #d8d280;
        }
        .glyphicon-star-empty {
          color: #d8d280;
          &:hover {
            color: #f0e23f;
          }
        }
        .glyphicon-remove {
          color: #9f4344;
          &:hover {
            color: #eb0005;
          }
        }
      }
      .date {
        color: $gray-light;
      }
    }

    h4 {
      color: $text-color;
    }

    p {
      color: $gray;
      .no-subject {
        font-style: italic;
        color: $gray-light;
      }
    }
  }

}
