.input-group-addon {
  min-width:129px;
  text-align:left;
 }
 
 #addonUsr {
 	border-bottom:0;
 	border-bottom-left-radius:0;
 }
 
#addonGrp {
	border-bottom-left-radius:0;
	border-bottom:0;
	border-top-left-radius:0;
	border-top:0;
}

#addonOrg {
	border-top:0;
	border-top-left-radius:0;
}

#inputSub {
	width:50%;
}
 
 .usrinput .tags {
 	border-bottom-right-radius:0;
 	border-bottom:0;	
 }
 
 .grpinput .tags {
 	border-top-right-radius:0;
 	border-bottom-right-radius:0;	
 }
 
 
 .orginput .tags {
 	border-top-right-radius:0;
 	border-top:0;	
 }
 