
<div ng-controller="ConversationNewController">
	<br/>
	users:
	<li style="color:red; display: inline;
			list-style-type: none;
			padding-right: 20px;" 
			ng-repeat="x in recv.usrNames" ng-click="remRecv($index, 'u')"> [x]{{ x.name }} </li>
    <br/>
    groups:
    <li style="color:green; display: inline;
			list-style-type: none;
			padding-right: 20px;" 
			ng-repeat="x in recv.grpNames" ng-click="remRecv($index, 'g')"> [x]{{ x.name }} </li>
    <br/>
    organizations:
    <li style="color:purple; display: inline;
			list-style-type: none;
			padding-right: 20px;" 
			ng-repeat="x in recv.orgNames" ng-click="remRecv($index, 'o')"> [x]{{ x.name }} </li>
    <br/>
		To User
		<input type="text" ng-model="toUsr" 
		typeahead="users as users.name for users in findRecv($viewValue, 'u')" typeahead-on-select="selectedRecv(toUsr, 'u')" 
		placeholder="Write users"/>
		<br/>
		To Usergrups
		<input type="text" ng-model="toGrp" 
		typeahead="users as users.name for users in findRecv($viewValue, 'g')" typeahead-on-select="selectedRecv(toGrp, 'g')"
		placeholder="Write usergroups"\> 
		<br/>
		To organizations
		<input type="text" ng-model="toOrg"
		typeahead="users as users.name for users in findRecv($viewValue, 'o')" typeahead-on-select="selectedRecv(toOrg, 'o')" 
		placeholder="Write organization"/>
		<br/>
		Subject
			<input type="text" ng-model="sub" placeholder="Write subject"/>
		<br/>
		<label>Text</label>
		<textarea class="form-control" rows=10 id="mail" placeholder="..." ng-model="mailText"></textarea>
	
	<button ng-click="sendMsg()">
  		Send
	</button>
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
</div>